<h2>Bootstrap component!</h2>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-3 col-sm-5">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-md-6 col-sm-2 align-self-start">
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="col-md-3 col-sm-5">
      <button type="button" class="btn btn-success">Success</button>
    </div>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
