<h2>PrimeNG component!</h2>
<input type="text" pInputText />

<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>

<p-dropdown
  [options]="cities2"
  [(ngModel)]="selectedCity2"
  optionLabel="name"
></p-dropdown>

<p-calendar [(ngModel)]="value"></p-calendar>
